body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    font-family: "Lucida Console", monospace;
    
    background-image: url(resources/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 95%;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 0px;
    width: 100%;
    height: 100vh;
    margin: 0px;
}

#content {
    width: auto;
    min-width: 60%;
    max-width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0px;
    background-color: white;
    color: black;
    overflow: auto;
}

#tabcontainer table {
    width: max-content;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border-collapse: separate !important;
    border-spacing: 0px;
}

#tabcontainer td {
    width: 100%;
    height: auto;
    padding-inline: 10px;
    margin: 0px;
    background-color: lightgrey;
    border: 1px solid black;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    text-align: center;
}

#tabcontainer td:hover {
    background-color: white;
}

#tabcontainer .active {
    background-color: white;
    border-right: 0px;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}

li > ul > li > a {
    color: red
}