:root {
    --text-color: #fff;
    --tab-margin: 1vw;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    font-family: "Lucida Console", monospace;
    overflow: hidden;
    background-color: #333;
}

#container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: auto;
}

/* navbar behavior */
#header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    background-color: #555;
    user-select: none;
}

#header .title {
    width: max-content;
    margin: var(--tab-margin);
    padding: 2px 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    background-color: #db0;
    color: #000;
}

#header .tab-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto var(--tab-margin);
}

#header .tab-selector button {
    margin: auto var(--tab-margin);
    padding: auto 5px;
    border: 0px;
    outline: 0;
    background-color: rgba(0,0,0,0);
    color: var(--text-color);
    transition: margin 0.5s, font-size 0.5s;
}

#header .tab-selector button:hover {
    margin: calc(var(--tab-margin) * 0.5);
    font-size: 105%;
    text-decoration: underline !important;
    transition: margin 0.5s, font-size 0.5s;
}

/* content behavior */
#content {
    overflow-y: auto;
    flex-grow: 1;
    margin: 0px;
    padding: 3%;
    background-color: #333;
    color: var(--text-color);
    opacity: 97%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

li > ul > li > a {
    color: red
}

/* responsivity & fonts */
@media (max-width: 800px) {
    #container {
        width: 100%;
        transition: width 0.5s;
    }
    #header {
        padding: 0px;
        overflow: auto;
    }
    .tab-selector button {
        margin: var(--tab-margin) var(--tab-margin);
    }
}

@font-face {
    font-family: labelFont;
    src: url(/resources/fonts/embossed-label.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(/resources/fonts/umbaran-reg.ttf);
}