:root {
    --text-color: #fff;
    --tab-margin: 1vw;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    font-family: "Lucida Console", monospace;
    overflow: hidden;
    background-color: #333;
}

#container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: auto;
    transition: width 0.5s;
}

/* navbar behavior */
#header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    background-color: #555;
    user-select: none;
    border-radius: 5px
}

#header .title {
    width: max-content;
    margin: var(--tab-margin);
    padding: 2px 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    background-color: #db0;
    color: #000;
}

#header .tab-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto var(--tab-margin);
}

#header .tab-selector button {
    margin: auto var(--tab-margin);
    padding: auto 5px;
    border: 0px;
    outline: 0;
    background: none;
    color: var(--text-color);
    transition: margin 0.5s, font-size 0.5s;
}

#header .tab-selector button:hover {
    margin: calc(var(--tab-margin) * 0.5);
    font-size: 105%;
    text-decoration: underline !important;
    transition: margin 0.5s, font-size 0.5s;
}

/* content behavior */
#content {
    overflow-y: auto;
    flex-grow: 1;
    margin: 0px;
    padding: 3%;
    border-radius: 5px 5px 0px 0px;
    background-color: rgba(51, 51, 51, 0.95);
    color: var(--text-color);
}

h1, h2 {
    text-align: center;
}

a {
    color: #afa
}

a:visited, a:active {
    color: #6a6
}

p.indent {
    text-indent: 4%;
}

code {
    display: block;
    text-align: center;
    padding: 3px;
    margin: 1% 5%;
    width: min-content;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #222;
    opacity: 100%;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

/*
::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}
*/

/* responsivity & fonts */
@media (max-width: 800px) {
    #container {
        width: 100%;
        transition: width 0.5s;
    }
    #header {
        padding: 0px;
        overflow: auto;
        border-radius: 0px
    }
    #header .title {
        font-size: x-large;
    }
    #header .tab-selector button {
        margin: var(--tab-margin) var(--tab-margin);
    }
    #content {
        border-radius: 0px;
    }
}

@font-face {
    font-family: labelFont;
    src: url(/resources/fonts/embossed-label.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(/resources/fonts/umbaran-reg.ttf);
}