:root {
    --color-bg: #333;
    --color-main: #555;
    --color-accent: #db0;
    --color-fringe: #afa;
    --color-text: #fff;
    --border: 2px solid var(--color-accent);
    --transparent: rgba(0,0,0,0);
}

body {
    font-family: "Fira Sans", monospace;
    color: var(--color-text);
}

#container {
    background-color: var(--color-bg);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    pointer-events: none;
}

input, button {
    accent-color: #afa;
    color: var(--color-fringe);
    background-color: var(--color-main);
    pointer-events: all;
    touch-action: manipulation;
    cursor: pointer;
}

#player {
    display: flex;
    flex-direction: column;
}

#player > div {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 10px 10px;
}

#seek-bar {
    width: 75%;
}

#playpause-button {
    display: flex;
    justify-content: center;
    user-select: none;
    align-items: center;
    font-size: large;
    padding: 0px 3px;
    margin-right: 10px;
    top: 2px;
    transition: all 0.5s;
}